@{
    ViewBag.Title = "Home Page";
}
<!--image slider-->

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img  src="~/Images/B1.jpg" >
        </div>
        </div>

<!--Welcome-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Affordable and Clean Energy</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">The world is moving closer to achieving Goal 7, 
            and there are promising indications that energy is becoming more widely available and sustainable. 
            Energy efficiency is continuing to advance, renewable energy is making significant progress 
            in the electrical industry, and access to electricity in less developed nations is starting to pick up speed.</p>
        </div>
    </div>
</div>

<!--Jumpotron-->
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-md-9 col-xl-10">
            <h3>About SABIC</h3>
            <p class="lead">From making cars and planes more fuel-efficient, to helping conserve
            the world’s water supply and enabling colorful smartphone cases, they find solutions 
            to the challenges of today to help the world achieve their ambitions and build a better tomorrow.</p>
        </div>
    </div>
</div>

<!--NArratives-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Narratives</h1>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/Images/N1.png" />
                <div class="class-body">
                    <h4 class="card-title">Narrative 1</h4>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <img class="card-img-top" src="~/Images/N2.png" />
                <div class="class-body">
                    <h4 class="card-title">Narrative 2</h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/Images/N3.png" />
                <div class="class-body">
                    <h4 class="card-title">Narrative 3</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="~/Images/N4.png" />
            <div class="class-body">
                <h4 class="card-title">Narrative 4</h4>
            </div>
        </div>
    </div>

</div>