
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        border: green 2px solid;
        border-radius: 5px;
        margin: 50px 300px 50px 300px;
        padding: 20px;
        
    }

    
</style>
<div class="center">
    @using (Html.BeginForm("NonRenewableEnergy", "Home", FormMethod.Post))
    {
        <form>
            <H3 style="color:green">Non-Renewable Energy</H3>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text "> <i class="fa fa-user"></i> </span>
                </div>
                <input name="sponsor" class="form-control" placeholder="Sponsor" type="text">
            </div>
            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-balance-scale" aria-hidden="true"></i>
                    </span>
                </div>
                <input name="watts" class="form-control" placeholder="Watts " type="number">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
                </div>

                <input name="charge" class="form-control" placeholder="Charge" type="number">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-clone" aria-hidden="true"></i>
                    </span>
                </div>
                <select class="form-control" name="NonRenewableType">
                    <option value="None">Non-Renewable Type</option>
                    <option value="Coal">Coal</option>
                    <option value="Nuclear">Nuclear</option>
                    <option value="Fossil Fuel">Fossil Fuel</option>
                </select>
            </div> <!-- form-group end.// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-th" aria-hidden="true"></i> </span>
                </div>
                <input class="form-control" placeholder="Contained compounds" type="text" name="compounds">
            </div>
            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-star" aria-hidden="true"></i>


                    </span>
                </div>
                <select class="form-control" name="energyGrade">
                    <option value="None">Energy Grading</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div> <!-- form-group end.// -->
            <input type="submit" class="btn btn-success" value="Submit"/>
        </form>
    }


</div>
   
